*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Scrollbar Custom */
/* width */
::-webkit-scrollbar {
    width: 7.5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
/* Scrollbar Custom End */

/* Placeholder Custom */
::-webkit-input-placeholder {
    text-align: center;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
 }
/* Placeholder Custom End */

html, body {
    font-size: 16px;
    color: #4a4a4a;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    overflow-x: hidden;
    background-color: #f7f7f7;
}
p {
    line-height: 1.5;
}

.icofont-circled-right, .icofont-ui-press {
    margin-right: 10px;
    display: inline-block;
}
.icofont-rounded-down {
    display: none;
}

#container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
#wraper {
    width: 100%;
    max-width: 1200px;
    padding: 15px;
    margin: 0 auto;
}
#header-section, #marketing-section, #form-section, #features-section {
    width: 100%;
    text-align: center;
    margin: 100px auto;
}

/* HEADER SECTION */
.header-caption {
    max-width: 700px;
    margin: 0 auto;
}
.header-title {
    color: #ff9700;
    margin-bottom: 1em;
}
.header-description {
    font-weight: bold;
}
/* HEADER SECTION END*/

/* MARKETING SECTION */
.marketing-header {
    padding: 0 30px 0 20px;
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr);
    gap: 5px;
}
.profesional, .business, .enterprise{
    padding: 10px;
    border-radius: 10px 10px 0 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
}
.profesional p, .business p, .enterprise p {
    font-size: 12px;
}
.channel {
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    padding-bottom: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.profesional {background-image: url(../images/profesional.png);}
.business {background-image: url(../images/business.png);}
.enterprise {background-image: url(../images/enterprise.png);}
.border-button-marketing {
    padding: 7px;
    width: 80%;
    border-radius: 3px;
    border: 1px solid white;
    background-color: hsla(0,0%,100%,.5);
    color:  white;
    font-weight: bold;
    margin-top: 1em;
}

.marketing-mobile-header, .channel-mobile, .marketing-mobile-legend {
    display: none;
}
.marketing-table {
    width: 100%;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 5px 15px #afafaf;
}
.table-scroll {
    max-height: 450px;
    overflow-y: auto;
}
.row {
    display: grid;
    width: 100%;
    grid-template-columns: 2fr repeat(3, 1fr);
}
.channel-item {
    text-align: left;
    padding: 5px;
    color: #ff9700;
    font-weight: bold;
    cursor: pointer;
    margin: 5px 0;
}
.channel-sub-item {
    text-align: left;
    padding: 7.5px 0 7.5px 30px;
    color: #4a4a4a;
    font-weight: 500;
}
.check-item {
    font-size: 12px;
    border-left: 2px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.orange {
    color: #ff9700;
}
.blue {
    color: #593adb;
}
.black {
    color: #4a4a4a;
}
.pasive {
    opacity: .1;
}
.rotate {
    transform: rotate(90deg);
}
.collapsible {
    display: none;
}
.open {
    display: block;
}
/* MARKETING SECTION END */

/* FORM SECTION */
.form-inline {  
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.form-inline input {
    vertical-align: middle;
    flex-grow: 1;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.form-inline input:not(:last-child) {
    margin-right: 20px;
}
.form-button {
    padding: 10px 20px;
    background-color: #ff9700;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    border-radius: 5px;
    margin-top: 1em;
}
/* FORM SECTION END*/

/* FEATURE SECTION */
.feature-title {
    margin-bottom: .5em;
}
.feature-grid {
    display: grid;
    grid-template-areas: 
    'marketer developer'
    'marketer1 developer1'
    'marketer2 developer2';
    margin-top: 50px;
    position: relative;
}
.feature-grid:before {
    content: "";
    position: absolute;
    width: 100%;
    height: calc(100% - 50px);
    bottom: 0;
    left: 0;
    border-radius: 8px;
    box-shadow: 0 10px 15px -5px #afafaf;
}
.marketer-title, .developer-title {
    padding: 10px;
    width: fit-content;
    color: white;
    font-weight: bold;
    margin: 0 auto;
    border-radius: 8px 8px 0 0;
}
.marketer-title {
    background-image: radial-gradient(#ffa826, #ee9002);
}
.developer-title {
    background-image: radial-gradient(#6444e4, #3f20b9);
}
.feature-item {
    text-align: left;
    padding: 35px;
    background-color: white;
}
.item1{grid-area: marketer;}
.item2{grid-area: developer;}
.item3{
    grid-area: marketer1;
    border-radius: 8px 0 0 0;
    position: relative;
}
.item3:after {
    content: "";
    position: absolute;
    width: 5px;
    height: calc(100% - 20px);
    bottom: 0;
    right: 0;
    border-right: 3px solid lightgray;
}
.item4{
    grid-area: developer1;
    border-radius: 0 8px 0 0;
    position: relative;
}
.item5{
    grid-area: marketer2;
    border-radius: 0 0 0 8px;
    position: relative;
}
.item5:after {
    content: "";
    position: absolute;
    width: 5px;
    height: calc(100% - 20px);
    top: 0;
    right: 0;
    border-right: 3px solid lightgray;
}
.item6{
    grid-area: developer2;
    border-radius: 0 0 8px 0;
    position: relative;
}
.feature-item-image {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}
.item-description {
    margin-top: 2em;
    margin-bottom: 1.5em;
}
.border-button-feature {
    padding: 10px 50px;
    border-radius: 3px;
    border: 2px solid #ff9700;
    background-color: white;
    color:  #ff9700;
    font-weight: bold;
    cursor: pointer;
}
/* FEATURE SECTION END*/

@media (max-width: 640px) and (min-width: 320px) {
    html, body {
        font-size: 14px;
        line-height: 1.2;
    }
    #header-section, #marketing-section, #form-section, #features-section {
        margin: 50px auto;
    }
    .icofont-rounded-down {
        display: inline-block;
    }
    .icofont-circled-right {
        display: none;
    }
    /* MARKETING SECTION */
    .marketing-mobile-header{
        display: grid;
        grid-template-columns: 2fr repeat(3, 1fr);
        padding: 0 15px 0 10px;
    }
    .marketing-mobile-legend {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 30px;
        font-weight: bold;
    }
    .profesional-mobile, .business-mobile, .enterprise-mobile {
        margin: 0 5px;
        padding: 10px;
        border-radius: 10px 10px 0 0;
        color: white;
        font-size: 24px;
        font-weight: bold;
    }
    .profesional-mobile-button, .business-mobile-button, .enterprise-mobile-button {
        margin: 0 5px;
        padding: 10px 5px;
        border-radius: 5px;
        color: white;
        font-size: 10px;
        font-weight: bold;
        margin-top: 10px;
    }
    .profesional-mobile, .profesional-mobile-button{background-image: radial-gradient(#8a8a8a, #5c5b5b);}
    .business-mobile, .business-mobile-button{background-image: radial-gradient(#6444e4, #3f20b9);}
    .enterprise-mobile, .enterprise-mobile-button{background-image: radial-gradient(#ffa826, #ee9002);}
    .channel-mobile {
        display: block;
        font-size: 2em;
        font-weight: bold;
        line-height: 1.2;
        text-align: left;
        margin-bottom: 30px;
        text-align: center;
    }
    .marketing-header {
        display: none;
    }
    .marketing-table {
        padding: 10px;
    }
    .channel-item {
       background-color: #ff9700;
       color: white;
       border-radius: 5px;
       padding: 5px;
       margin-right: 5px;
       display: flex;
       justify-content: space-between;
       align-items: center;
    }
    .channel-sub-item {
        padding: 7.5px;
        font-size: 12px;
    }
    .check-item {
        font-size: 10px;
    }
    .rotate {
        transform: rotate(180deg);
    }
    /* MARKETING SECTION END */

    /* FORM SECTION */
    .form-inline input {
        margin: 5px 0;
      }
      .form-inline input:not(:last-child) {
        margin-right: 0;
    }
    .form-inline {
        flex-direction: column;
        align-items: stretch;
    }
    /* MARKETING SECTION END*/
    
    /* FEATURE SECTION */
    .feature-grid {
        grid-template-areas: 
        'marketer'
        'marketer1'
        'marketer2'
        'developer'
        'developer1'
        'developer2';
    }
    .item2 {
        margin-top: 50px;
    }
    .item3 {
        box-shadow: 0 10px 15px -5px #afafaf;
        border-radius: 8px 8px 0 0;
    }
    .item5 {
        box-shadow: 0 17px 15px -5px #afafaf;
        border-radius: 0 0 8px 8px;
    }
    .item3:after, .item5:after {border: none;}
    .item4 {
        box-shadow: 0 10px 15px -5px #afafaf;
        border-radius: 8px 8px 0 0;
        margin-top: -5px;
    }
    .item6 {
        box-shadow: 0 17px 15px -5px #afafaf;
        border-radius: 0 0 8px 8px;
        margin-top: -5px;
    }
    .feature-grid:before {
        display: none;
    }
    /* FEATURE SECTION END */

    ::-webkit-scrollbar {
        width: 5px;
    }
}